.background-map {
    height: 100%;
    background: url('../assets/images/map.jpg');
    background-size: cover;
}

.map {
    height: 100%;
    position: relative;
}

.button-map-group {
    position: absolute;
    top: 20px;
    left: 280px;
}

.button-map-group.webgispage {
    left: 20px
}

.button-map-group ul {
    list-style-type: none;
    padding: 0px;
}

.button-map-group ul li {
    margin-bottom: 2px;
}

.button-map-group ul li button {
    border: none;
    border: 1px solid #333;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.boxsearch-map-group {
    position: absolute;
    top: 20px;
    right: 0px;
}

.boxsearch-map-group .search-wrapper.active .input-holder {
    background-color: #fff;
}

.form-createwebgis {
    position: absolute;
    padding: 10px 20px;
    display: flex;
    top: 80px;
    left: 20px;
    background-color: #fff;
}

.form-createwebgis .input-form {
    width: 80%;
    font-size: 17px;
}

.form-createwebgis .input-form ul li {
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;
}

.form-createwebgis .input-form ul li i {
    font-size: 18px;
    position: absolute;
    top: 3px;
    left: 0
}

.form-createwebgis .input-form ul,
.form-createwebgis .button-form ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.form-createwebgis .input-form ul li {
    width: 200px;
    /* width: 33%;
    display: inline-block; */
}

.form-createwebgis .button-form {
    width: 20%;
}

.form-createwebgis .button-form ul li:first-child {
    margin-bottom: 10px;
}

.new-webgispage .boxsearch-map-group {
    left: 20px;
}

.new-webgispage .button-map-group {
    top: 80px
}

.new-webgispage .type-map-group {
    position: absolute;
    right: 20px;
    top: 20px
}

.new-webgispage .type-map-group ul {
    list-style-type: none;
}

.new-webgispage .type-map-group ul li {
    display: inline-block;
}

.new-webgispage .type-map-group ul li button {
    border: none;
    width: 80px;
    height: 30px
}

.pagination {
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
}

.flex.flex-between {
    justify-content: space-between;
}

.button-typemap-group {
    position: absolute;
    top: 20px;
    right: 20px;
}

.button-typemap-group ul {
    display: flex;
    list-style: none;
}

.button-typemap-group ul li:not(:last-child) {
    border-right: 1px solid #333;
}

.button-typemap-group button {
    border: none;
    padding: 5px 10px
}

.card-blur {
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}

.card-blur .card-title {
    text-align: center;
}

.card-blur .link {
    color: #0DB39E
}

.card-blur:hover {
    transform: scale(1.03);
    transition: all ease-in .3s;
}

.pd10 {
    padding: 10px;
}

.card-blur .description {
    height: 100px;
    overflow: hidden;
}

.card-blur img {
    object-fit: contain;
}

.api ul {
    list-style: none;
    padding: 0
}

.api ul li {
    margin-bottom: 15px;
}

.api ul li a {
    color: #df9d00
}

.api h2,
.api h3 {
    font-weight: bold;
}